a {
  text-decoration: none;
}
nav a {
  color: white;
}
.my-container {
  width: 950px;
}
li {
  align-self: center;
}
main a {
  margin-bottom: 1rem;
}
button {
  border: 1px solid rgb(204, 201, 201);
}
.my-p {
  border: 1px solid black;
  box-shadow: -1px 1px 1px 0px;
}
